@font-face {
    font-family: 'StratosSkyeng';
    src: url(../fonts/stratosskyengwebregular.woff) format('woff'), url(../fonts/stratosskyengwebregular.woff2) format('woff2');
    font-weight: 400;
}

@font-face {
    font-family: 'StratosSkyeng';
    src: url(../fonts/stratosskyengwebregular.woff) format('woff'), url(../fonts/stratosskyengwebregular.woff2) format('woff2');
    font-weight: 500;
}