/*Container*/
$container-width-desktop: 1200px;
$container-padding-desktop: 20px;

/*Top*/
$top-height: 1032px;
$top-bg: #AD61FF;
$top-text-color: #FFFFFF;

/*Teachers*/
$teachers-padding-top: 56px;
$teachers-padding-bottom: 64px;
$teachers-text-color: #000000;
$teachers-link-button-color: #FF6D00;

/*Black*/
$black-padding-top: 56px;
$black-padding-bottom: 64px;
$black-bg-color: #000000;
$black-text-color: #FFFFFF;
$black-checkbox-color: #AD61FF;
$black-button-color: #FF6D00;

/*Big-block*/
$big-block-padding-top: 56px;
$big-block-padding-bottom: 150px;
/*Big-block-->Top*/
$big-block-top-title-color: #00AEFA;
$big-block-top-text-color: #000000;
/*Big-block-->Form*/
$big-block-form-padding: 32px 40px;
$big-block-form-bg: #ECECEC;
$big-block-form-text-color: #000000;
/*Big-block-->Learning*/
$big-block-learning-text-color: #000000;
$big-block-learning-bg-additional: #F9EBFF;
/*Big-block-->Teachers*/
$big-block-teachers-text-color: #000000;
$big-block-teachers-links-color: #FF6D00;
$big-block-teachers-form-bg: #ECECEC;

/*Employing*/
$employing-padding-top: 56px;
$employing-padding-bottom: 64px;
$employing-bg-color: #F9EBFF;
$employing-purple-text-color: #6000C7;
$employing-text-color: #000000;