$container-width-desktop: 1200px;
$container-padding-desktop: 20px;

$top-height: 1032px;
$top-bg: #AD61FF;
$top-text-color: #FFFFFF;

$teachers-padding-top: 56px;
$teachers-padding-bottom: 64px;
$teachers-text-color: #000000;
$teachers-link-button-color: #FF6D00;

$black-padding-top: 56px;
$black-padding-bottom: 64px;
$black-bg-color: #000000;
$black-text-color: #FFFFFF;
$black-checkbox-color: #AD61FF;
$black-button-color: #FF6D00;

$big-block-padding-top: 56px;
$big-block-padding-bottom: 150px;
$big-block-top-title-color: #00AEFA;
$big-block-top-text-color: #000000;
$big-block-form-padding: 32px 40px;
$big-block-form-bg: #ECECEC;
$big-block-form-text-color: #000000;