@font-face {
  font-family: "StratosSkyeng";
  src: url(../fonts/stratosskyengwebregular.woff) format("woff"), url(../fonts/stratosskyengwebregular.woff2) format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "StratosSkyeng";
  src: url(../fonts/stratosskyengwebregular.woff) format("woff"), url(../fonts/stratosskyengwebregular.woff2) format("woff2");
  font-weight: 500;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "StratosSkyeng", sans-serif;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.top {
  min-height: 1032px;
  padding-top: 12px;
  padding-bottom: 64px;
  background: #AD61FF;
}
.top__header {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top__menu {
  display: flex;
  gap: 24px;
}
.top .menu__link {
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: -0.05px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #FFFFFF;
  transition: all 0.5s;
}
.top .menu__link:hover {
  opacity: 0.6;
  text-decoration: underline;
}
.top__content {
  margin-bottom: 64px;
}
.top .content__top-text {
  height: 140px;
  padding-top: 30px;
  background: url(../img/bone.svg) 195px 0px/345px 140px no-repeat;
  font-weight: 400;
  font-size: 68px;
  line-height: 100%;
  letter-spacing: -0.6px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #FFFFFF;
}
.top .content__top-text--amazing {
  display: inline-block;
  transform: rotate(-3deg);
}
.top .content__title {
  margin-top: -40px;
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 260px;
  line-height: 60%;
  letter-spacing: -0.6px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #FFFFFF;
}
.top .content__middle-text {
  margin-bottom: 27px;
  padding-top: 21px;
  font-weight: 400;
  font-size: 68px;
  line-height: 100%;
  letter-spacing: -0.6px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #FFFFFF;
}
.top .content__bottom-text {
  max-width: 848px;
  font-weight: 400;
  font-size: 32px;
  line-height: 135%;
  letter-spacing: -0.05px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #FFFFFF;
  position: relative;
}
.top .content__bottom-text--colored {
  display: inline-block;
  padding-left: 5px;
}
.top .content__bottom-text--colored-1 {
  background: url(../img/colored-1.svg) 0px 9px/286px 32px no-repeat;
}
.top .content__bottom-text--colored-2 {
  background: url(../img/colored-2.svg) 0px 9px/497px 32px no-repeat;
}
.top .content__bottom-text--colored-3 {
  padding-right: 5px;
  background: url(../img/colored-3.svg) 0px 9px/160px 32px no-repeat;
}
.top .content__bottom-text img {
  position: absolute;
  top: 185px;
  right: 5px;
}
.top__additional {
  display: flex;
  align-items: center;
  gap: 40px;
}
.top .additional__button {
  width: 324px;
  height: 76px;
  background: #FCDE00;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  letter-spacing: -0.15px;
  font-feature-settings: "pnum" on, "lnum" on;
  transition: all 0.5s;
}
.top .additional__button:hover {
  opacity: 0.5;
}
.top .additional__info {
  display: flex;
  flex-direction: column;
}
.top .additional__small {
  font-weight: 400;
  font-size: 20px;
  line-height: 145%;
  letter-spacing: -0.05px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #E8BEFC;
}
.top .additional__big {
  font-weight: 400;
  font-size: 32px;
  line-height: 135%;
  letter-spacing: -0.05px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #FFFFFF;
}

.teachers {
  padding-top: 56px;
  padding-bottom: 64px;
}
.teachers__title {
  margin-bottom: 39px;
  font-weight: 400;
  font-size: 72px;
  line-height: 100%;
  letter-spacing: -0.6px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #000000;
}
.teachers__box {
  margin-bottom: 48px;
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 46px 40px;
}
.teachers__item {
  display: grid;
  grid-template-columns: 160px auto;
  gap: 32px;
}
.teachers .item__title {
  font-size: 32px;
  line-height: 105%;
  letter-spacing: -0.05px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #000000;
}
.teachers .item__position {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 145%;
  letter-spacing: -0.05px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #000000;
  opacity: 0.3;
}
.teachers .item__text {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  letter-spacing: -0.05px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #000000;
}
.teachers .item__link-box {
  display: flex;
  flex-wrap: wrap;
  gap: 8px 12px;
}
.teachers .item__link {
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  letter-spacing: -0.05px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #FF6D00;
  transition: all 0.5s;
}
.teachers .item__link:hover {
  opacity: 0.5;
  text-decoration: underline;
}
.teachers__button {
  width: 600px;
  height: 92px;
  padding-left: 10px;
  background: transparent;
  border: 1px solid #FF6D00;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -0.15px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #FF6D00;
  display: flex;
  align-items: center;
  gap: 16px;
}
.teachers .button__img-box {
  position: relative;
  width: 228px;
  height: 72px;
}
.teachers .button__img {
  position: absolute;
  top: 0;
  transition: all 0.5s;
}
.teachers .button__img:hover {
  transform: scale(1.1);
}
.teachers .button__img--z3 {
  left: 0;
  z-index: 3;
}
.teachers .button__img--z2 {
  left: 52px;
  z-index: 2;
}
.teachers .button__img--z1 {
  left: 104px;
  z-index: 1;
}
.teachers .button__img--z0 {
  left: 156px;
}
.teachers .button__text {
  transition: all 0.5s;
}
.teachers .button__text:hover {
  opacity: 0.5;
}

.black {
  padding-top: 56px;
  padding-bottom: 64px;
  background: #000000;
}
.black__title {
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 72px;
  line-height: 100%;
  letter-spacing: -0.6px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #FFFFFF;
}
.black__text {
  max-width: 960px;
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 32px;
  line-height: 135%;
  letter-spacing: -0.05px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #FFFFFF;
}
.black__checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.black__checkbox + .black__label {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.black__checkbox + .black__label::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
.black__checkbox:checked + .black__label::before {
  background: url(../img/black-checked.svg) center/cover no-repeat;
}
.black__checkbox:not(:disabled):not(:checked) + .black__label:hover::before {
  border: 1px solid #AD61FF;
}
.black__checkbox:not(:disabled):active + .black__label::before {
  border: 1px solid #AD61FF;
  background: transparent;
}
.black__label {
  color: #AD61FF;
}
.black__top-statistic {
  margin-bottom: 16px;
  display: flex;
  gap: 40px;
}
.black .top-statistic__left {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
}
.black .top-statistic__right {
  width: 624px;
}
.black .top-statistic__text {
  font-weight: 500;
  font-size: 18px;
  line-height: 130%;
  letter-spacing: -0.05px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #FFFFFF;
}
.black__statistic {
  margin-bottom: 48px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.black .statistic__item {
  height: 43px;
  display: flex;
  align-items: center;
  gap: 40px;
}
.black .statistic__left {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.black .statistic__right {
  width: 624px;
  height: 23px;
  background: #1A1A1A;
  border-radius: 5px;
  font-weight: 500;
  font-size: 18px;
  line-height: 130%;
  text-align: right;
  letter-spacing: -0.05px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #FFFFFF;
}
.black .statistic .right-min {
  display: flex;
  align-items: center;
  gap: 5px;
}
.black .statistic__right-in {
  height: 100%;
  padding-right: 5px;
  background: #4D4D4D;
  border-radius: 5px;
  display: flex;
  justify-content: end;
  align-items: center;
}
.black .statistic__right-in--sql {
  width: 524px;
}
.black .statistic__right-in--exel {
  width: 193px;
}
.black .statistic__right-in--bi {
  width: 231px;
}
.black .statistic__right-in--ms {
  width: 250px;
}
.black .statistic__right-in--py {
  width: 206px;
}
.black .statistic__right-in--ml {
  width: 93px;
}
.black .statistic__right-in--wa {
  width: 56px;
}
.black .statistic__right-in--bd {
  width: 18px;
}
.black .statistic__text {
  flex-grow: 1;
  font-weight: 400;
  font-size: 32px;
  line-height: 135%;
  letter-spacing: -0.05px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #FFFFFF;
}
.black .statistic__checkbox > input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.black .statistic__checkbox > span {
  display: inline-flex;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.black .statistic__checkbox > span::before {
  content: "";
  display: inline-block;
  width: 23px;
  height: 23px;
  margin-right: 8px;
  background: #1A1A1A;
  border: 1px solid #AD61FF;
  border-radius: 5.75px;
  cursor: pointer;
}
.black .statistic__checkbox > input:not(:disabled):not(:checked) + span:hover::before, .black .statistic__checkbox > input:not(:disabled):active + span::before {
  box-shadow: 0px 0px 10px 6px rgba(255, 255, 255, 0.5);
}
.black .statistic__checkbox > input:checked + span::before {
  background: url(../img/black-checked.svg) 0 -1px/100% no-repeat;
}
.black .statistic__checkbox-text {
  font-weight: 400;
  font-size: 32px;
  line-height: 135%;
  letter-spacing: -0.05px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #AD61FF;
}
.black__button {
  width: 627px;
  height: 76px;
  background: transparent;
  border: 1px solid #FF6D00;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  letter-spacing: -0.15px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #FF6D00;
  transition: all 0.5s;
}
.black__button:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 20px 10px rgba(255, 255, 255, 0.4);
}

.big-block {
  padding-top: 56px;
  padding-bottom: 150px;
}
.big-block__top-section {
  margin-bottom: 21px;
}
.big-block .top-section__title {
  margin-bottom: 24px;
  background: url(../img/logo-big-top.svg) 258px 16px/392px 60px no-repeat;
  font-weight: 400;
  font-size: 72px;
  line-height: 100%;
  letter-spacing: -0.6px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #00AEFA;
}
.big-block .top-section__title--logo-section {
  display: inline-block;
  width: 392px;
  height: 60px;
}
.big-block .top-section__text {
  max-width: 960px;
  padding-bottom: 40px;
  font-weight: 400;
  font-size: 32px;
  line-height: 135%;
  letter-spacing: -0.05px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #000000;
}
.big-block .top-section__text--bg {
  display: inline-block;
  background: url(../img/big-top-text-bg.svg) 0px 9px/399px 32px no-repeat, url(../img/big-top-text-bg.svg) 291px 9px/399px 32px no-repeat;
}
.big-block__paintings {
  max-width: 1200px;
  min-height: 306px;
  margin: 0 auto 67px;
  display: grid;
  grid-template-columns: repeat(4, 300px);
  justify-content: space-between;
}
.big-block .paintings__first {
  background: url(../img/big-paintings-first.svg) center/300px 300px no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.big-block .paintings__first-text {
  width: 260px;
  font-weight: 400;
  font-size: 32px;
  line-height: 135%;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.05px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #D27714;
  text-align: center;
}
.big-block .paintings__second {
  padding-left: 30px;
  background: url(../img/big-paintings-second.svg) center/300px 300px no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 5px;
}
.big-block .paintings__second-text {
  width: 260px;
  font-weight: 400;
  font-size: 32px;
  line-height: 135%;
  display: flex;
  align-items: center;
  letter-spacing: -0.05px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #1797CC;
}
.big-block .paintings__second-link {
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  letter-spacing: -0.05px;
  text-decoration-line: underline;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #1797CC;
  text-decoration: underline;
  opacity: 0.5;
  transition: all 0.5s;
}
.big-block .paintings__second-link:hover {
  text-decoration: none;
  opacity: 1;
}
.big-block .paintings__third {
  background: url(../img/big-paintings-third.svg) center/300px 300px no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.big-block .paintings__third-text {
  width: 250px;
  font-weight: 400;
  font-size: 32px;
  line-height: 135%;
  text-align: center;
  letter-spacing: -0.05px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #14A34C;
}
.big-block .paintings__fourth {
  background: url(../img/big-paintings-fourth.svg) center/300px 300px no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.big-block .paintings__fourth-text {
  width: 240px;
  font-weight: 400;
  font-size: 32px;
  line-height: 135%;
  text-align: center;
  letter-spacing: -0.05px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #A339C0;
}
.big-block .paintings__fourth-link {
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  letter-spacing: -0.05px;
  text-decoration-line: underline;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #A339C0;
  opacity: 0.5;
  transition: all 0.5s;
}
.big-block .paintings__fourth-link:hover {
  text-decoration: none;
  opacity: 1;
}/*# sourceMappingURL=styles.css.map */