@import "vars";

@import "fonts";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'StratosSkyeng', sans-serif;
}

a {
    text-decoration: none;
}

.container {
    max-width: $container-width-desktop;
    padding-left: $container-padding-desktop;
    padding-right: $container-padding-desktop;
    margin: 0 auto;
}

.top {
    min-height: $top-height;
    padding-top: 12px;
    padding-bottom: 64px;
    background: $top-bg;

    &__header {
        margin-bottom: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__menu {
        display: flex;
        gap: 24px;
    }
    .menu {
        &__link {
            font-weight: 400;
            font-size: 18px;
            line-height: 26px;
            letter-spacing: -0.05px;
            font-feature-settings: 'pnum' on, 'lnum' on;
            color: #FFFFFF;
            transition: all 0.5s;

            &:hover {
                opacity: 0.6;
                text-decoration: underline;
            }
        }
    }

    &__content {
        margin-bottom: 64px;
    }
    .content {
        &__top-text {
            height: 140px;
            padding-top: 30px;
            background: url(../img/bone.svg) 195px 0px/345px 140px no-repeat;
            font-weight: 400;
            font-size: 68px;
            line-height: 100%;
            letter-spacing: -0.6px;
            font-feature-settings: 'pnum' on, 'lnum' on;
            color: $top-text-color;

            &--amazing {
                display: inline-block;
                transform: rotate(-3deg);
            }
        }

        &__title {
            margin-top: -40px;
            margin-bottom: 40px;
            font-weight: 400;
            font-size: 260px;
            line-height: 60%;
            letter-spacing: -0.6px;
            font-feature-settings: 'pnum' on, 'lnum' on;
            color: $top-text-color;
        }

        &__middle-text {
            margin-bottom: 27px;
            padding-top: 21px;
            font-weight: 400;
            font-size: 68px;
            line-height: 100%;
            letter-spacing: -0.6px;
            font-feature-settings: 'pnum' on, 'lnum' on;
            color: $top-text-color;
        }

        &__bottom-text {
            max-width: 848px;
            font-weight: 400;
            font-size: 32px;
            line-height: 135%;
            letter-spacing: -0.05px;
            font-feature-settings: 'pnum' on, 'lnum' on;
            color: $top-text-color;
            position: relative;

            &--colored {
                display: inline-block;
                padding-left: 5px;
            }
            &--colored-1 {
                background: url(../img/colored-1.svg) 0px 9px/286px 32px no-repeat;
            }
            &--colored-2 {
                background: url(../img/colored-2.svg) 0px 9px/497px 32px no-repeat;
            }
            &--colored-3 {
                padding-right: 5px;
                background: url(../img/colored-3.svg) 0px 9px/160px 32px no-repeat;
            }

            & img {
                position: absolute;
                top: 185px;
                right: 5px;
            }
        }
    }

    &__additional {
        display: flex;
        align-items: center;
        gap: 40px;
    }
    .additional {
        &__button {
            width: 324px;
            height: 76px;
            background: #FCDE00;
            border: none;
            border-radius: 10px;
            cursor: pointer;
            font-weight: 400;
            font-size: 32px;
            line-height: 40px;
            text-align: center;
            letter-spacing: -0.15px;
            font-feature-settings: 'pnum' on, 'lnum' on;
            transition: all 0.5s;

            &:hover {
                opacity: 0.5;
            }
        }

        &__info {
            display: flex;
            flex-direction: column;
        }

        &__small {
            font-weight: 400;
            font-size: 20px;
            line-height: 145%;
            letter-spacing: -0.05px;
            font-feature-settings: 'pnum' on, 'lnum' on;
            color: #E8BEFC;
        }

        &__big {
            font-weight: 400;
            font-size: 32px;
            line-height: 135%;
            letter-spacing: -0.05px;
            font-feature-settings: 'pnum' on, 'lnum' on;
            color: $top-text-color;
        }
    }
}

.teachers {
    padding-top: $teachers-padding-top;
    padding-bottom: $teachers-padding-bottom;

    &__title {
        margin-bottom: 39px;
        font-weight: 400;
        font-size: 72px;
        line-height: 100%;
        letter-spacing: -0.6px;
        font-feature-settings: 'pnum' on, 'lnum' on;
        color: $teachers-text-color;
    }

    &__box {
        margin-bottom: 48px;
        display: grid;
        grid-template-columns: repeat(2, auto);
        gap: 46px 40px;
    }

    &__item {
        display: grid;
        grid-template-columns: 160px auto;
        gap: 32px;
    }
    .item {
        &__title {
            font-size: 32px;
            line-height: 105%;
            letter-spacing: -0.05px;
            font-feature-settings: 'pnum' on, 'lnum' on;
            color: $teachers-text-color;
        }

        &__position {
            margin-bottom: 16px;
            font-weight: 400;
            font-size: 16px;
            line-height: 145%;
            letter-spacing: -0.05px;
            font-feature-settings: 'pnum' on, 'lnum' on;
            color: $teachers-text-color;
            opacity: 0.3;
        }

        &__text {
            margin-bottom: 16px;
            font-weight: 400;
            font-size: 18px;
            line-height: 130%;
            letter-spacing: -0.05px;
            font-feature-settings: 'pnum' on, 'lnum' on;
            color: $teachers-text-color;
        }

        &__link-box {
            display: flex;
            flex-wrap: wrap;
            gap: 8px 12px;
        }
        
        &__link {
            font-weight: 400;
            font-size: 18px;
            line-height: 130%;
            letter-spacing: -0.05px;
            font-feature-settings: 'pnum' on, 'lnum' on;
            color: $teachers-link-button-color;
            transition: all 0.5s;

            &:hover {
                opacity: 0.5;
                text-decoration: underline;
            }
        }
    }

    &__button {
        width: 600px;
        height: 92px;
        padding-left: 10px;
        background: transparent;
        border: 1px solid $teachers-link-button-color;
        border-radius: 10px;
        cursor: pointer;
        font-weight: 400;
        font-size: 32px;
        line-height: 40px;
        letter-spacing: -0.15px;
        font-feature-settings: 'pnum' on, 'lnum' on;
        color: $teachers-link-button-color;
        display: flex;
        align-items: center;
        gap: 16px;
    }
    .button {
        &__img-box {
            position: relative;
            width: 228px;
            height: 72px;
        }

        &__img {
            position: absolute;
            top: 0;
            transition: all 0.5s;

            &:hover {
                transform: scale(1.1);
            }

            &--z3 {
                left: 0;
                z-index: 3;
            }
            &--z2 {
                left: 52px;
                z-index: 2;
            }
            &--z1 {
                left: 104px;
                z-index: 1;
            }
            &--z0 {
                left: 156px;
            }
        }

        &__text {
            transition: all 0.5s;

            &:hover {
                opacity: 0.5;
            }
        }
    }
}

.black {
    padding-top: $black-padding-top;
    padding-bottom: $black-padding-bottom;
    background: $black-bg-color;

    &__title {
        margin-bottom: 24px;
        font-weight: 400;
        font-size: 72px;
        line-height: 100%;
        letter-spacing: -0.6px;
        font-feature-settings: 'pnum' on, 'lnum' on;
        color: $black-text-color;
    }

    &__text {
        max-width: 960px;
        margin-bottom: 40px;
        font-weight: 400;
        font-size: 32px;
        line-height: 135%;
        letter-spacing: -0.05px;
        font-feature-settings: 'pnum' on, 'lnum' on;
        color: $black-text-color;
    }

    &__checkbox {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }
    &__checkbox + &__label {
        user-select: none;
    }
    &__checkbox + &__label::before {
        content: '';
        display: inline-block;
        width: 20px;
        height: 20px;
        margin-right: 5px;
    }
    &__checkbox:checked + &__label::before {
        background: url(../img/black-checked.svg) center/cover no-repeat;
    }
    &__checkbox:not(:disabled):not(:checked) + &__label:hover::before {
        border: 1px solid $black-checkbox-color;
    }
    &__checkbox:not(:disabled):active + &__label::before {
        border: 1px solid $black-checkbox-color;
        background: transparent;
    }

    &__label {
        color: $black-checkbox-color;
    }

    &__top-statistic {
        margin-bottom: 16px;
        display: flex;
        gap: 40px;
    }
    .top-statistic {
        &__left {
            flex-grow: 1;
            display: flex;
            justify-content: space-between;
        }

        &__right {
            width: 624px;
        }

        &__text {
            font-weight: 500;
            font-size: 18px;
            line-height: 130%;
            letter-spacing: -0.05px;
            font-feature-settings: 'pnum' on, 'lnum' on;
            color: $black-text-color;
        }
    }

    &__statistic {
        margin-bottom: 48px;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    .statistic {
        &__item {
            height: 43px;
            display: flex;
            align-items: center;
            gap: 40px;
        }

        &__left {
            flex-grow: 1;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &__right {
            width: 624px;
            height: 23px;
            background: #1A1A1A;
            border-radius: 5px;
            font-weight: 500;
            font-size: 18px;
            line-height: 130%;
            text-align: right;
            letter-spacing: -0.05px;
            font-feature-settings: 'pnum' on, 'lnum' on;
            color: $black-text-color;
        }

        .right-min {
            display: flex;
            align-items: center;
            gap: 5px;
        }

        &__right-in {
            height: 100%;
            padding-right: 5px;
            background: #4D4D4D;
            border-radius: 5px;
            display: flex;
            justify-content: end;
            align-items: center;

            &--sql {
                width: 524px;
            }
            &--exel {
                width: 193px;
            }
            &--bi {
                width: 231px;
            }
            &--ms {
                width: 250px;
            }
            &--py {
                width: 206px;
            }
            &--ml {
                width: 93px;
            }
            &--wa {
                width: 56px;
            }
            &--bd {
                width: 18px;
            }
        }

        &__text {
            flex-grow: 1;
            font-weight: 400;
            font-size: 32px;
            line-height: 135%;
            letter-spacing: -0.05px;
            font-feature-settings: 'pnum' on, 'lnum' on;
            color: $black-text-color;
        }

        &__checkbox > input {
            position: absolute;
            z-index: -1;
            opacity: 0;
        }
        &__checkbox > span {
            display: inline-flex;
            align-items: center;
            user-select: none;
        }
        &__checkbox > span::before {
            content: '';
            display: inline-block;
            width: 23px;
            height: 23px;
            margin-right: 8px;
            background: #1A1A1A;
            border: 1px solid $black-checkbox-color;
            border-radius: 5.75px;
            cursor: pointer;
        }
        &__checkbox > input:not(:disabled):not(:checked) + span:hover::before,
        &__checkbox > input:not(:disabled):active + span::before {
            box-shadow: 0px 0px 10px 6px rgba(255,  255,  255, 0.5);
        }
        &__checkbox > input:checked + span::before {
            background: url(../img/black-checked.svg) 0 -1px/100% no-repeat;
        }

        &__checkbox-text {
            font-weight: 400;
            font-size: 32px;
            line-height: 135%;
            letter-spacing: -0.05px;
            font-feature-settings: 'pnum' on, 'lnum' on;
            color: $black-checkbox-color;
        }
    }

    &__button {
        width: 627px;
        height: 76px;
        background: transparent;
        border: 1px solid $black-button-color;
        border-radius: 10px;
        cursor: pointer;
        font-weight: 400;
        font-size: 32px;
        line-height: 40px;
        text-align: center;
        letter-spacing: -0.15px;
        font-feature-settings: 'pnum' on, 'lnum' on;
        color: $black-button-color;
        transition: all 0.5s;

        &:hover {
            transform: scale(1.05);
            box-shadow: 0px 0px 20px 10px rgba(255,  255,  255, 0.4);
        }
    }
}

.big-block {
    padding-top: $big-block-padding-top;
    padding-bottom: $big-block-padding-bottom;

    &__top-section {
        margin-bottom: 21px;
    }
    .top-section {
        &__title {
            margin-bottom: 24px;
            font-weight: 400;
            font-size: 72px;
            line-height: 100%;
            letter-spacing: -0.6px;
            font-feature-settings: 'pnum' on, 'lnum' on;
            color: $big-block-top-title-color;
        }

        &__text {
            max-width: 960px;
            padding-bottom: 40px;
            font-weight: 400;
            font-size: 32px;
            line-height: 135%;
            letter-spacing: -0.05px;
            font-feature-settings: 'pnum' on, 'lnum' on;
            color: $big-block-top-text-color;

            &--bg {
                display: inline-block;
                background: url(../img/big-top-text-bg.svg) 0px 9px/399px 32px no-repeat,
                            url(../img/big-top-text-bg.svg) 291px 9px/399px 32px no-repeat;
            }
        }
    }

    &__paintings {
        max-width: $container-width-desktop;
        min-height: 306px;
        margin: 0 auto 67px;
        display: grid;
        grid-template-columns: 306px 275px 260px 260px;
        justify-content: space-between;
    }
    .paintings {
        &__first {
            background: url(../img/big-paintings-first.svg) center/cover no-repeat;
            display: flex;
            justify-content: center;
            align-items: center;

            &-text {
                width: 260px;
                font-weight: 400;
                font-size: 32px;
                line-height: 135%;
                display: flex;
                align-items: center;
                text-align: center;
                letter-spacing: -0.05px;
                font-feature-settings: 'pnum' on, 'lnum' on;
                color: #D27714;
                text-align: center;
            }
        }

        &__second {
            padding-left: 10px;
            background: url(../img/big-paintings-second.svg) center/cover no-repeat;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;
            gap: 5px;

            &-text {
                width: 260px;
                font-weight: 400;
                font-size: 32px;
                line-height: 135%;
                display: flex;
                align-items: center;
                letter-spacing: -0.05px;
                font-feature-settings: 'pnum' on, 'lnum' on;
                color: #1797CC;
            }
            &-link {
                font-weight: 400;
                font-size: 18px;
                line-height: 130%;
                letter-spacing: -0.05px;
                text-decoration-line: underline;
                font-feature-settings: 'pnum' on, 'lnum' on;
                color: #1797CC;
                text-decoration: underline;
                transition: all 0.5s;

                &:hover {
                    text-decoration: none;
                    opacity: 0.5;
                }
            }
        }
    }
}